<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dit is een test</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/styleNavbar.css}" />
</head>
<body>

	<div th:replace="~{fragments/navbar.html :: navbar}"></div>
	<th:block th:if="${#authorization.expression('hasRole(''USER'')')}">
		<a  th:href="|/tickets|"><button class="voeg-toe-wedstrijd" th:if="${aantalGekochteTicket}>0">Mijn tickets</button></a>
	</th:block>
	<H1 th:text="#{label_sport_naam}"></H1>
	

	
	<table>
	<tr>
		<th>sport</th>
		<th>ga naar</th>
	<tr>
	<tr th:each="sport: ${sportLijst}">
	
	<td th:text="${sport.sportNaam}">
		
	</td>
	<td> <a th:href="|/wedstrijden/${sport.id}|">toon wedstrijden</a></td>
	<tr>
	</table>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>
